body{
    font-family: 'Verdana', 'Century Gothic';
}
.be-left, .be-right{
    display: table;
    height: 100%;
}
.col-table{
    display: table;
    height: 100%;
}
.be-left{
    
}
.be-right{
    
    float: right;
}
.right-item{
    float: right;
}
.logo{
    max-height: 7vh;
    max-width: 7vh;
}
#info-bar{
    background-color: #EEEEEE;
}

.item {
    margin: 5px 15px;
    vertical-align: middle;
    display: inline-block;
}
.score{
    color: #09CC09;
    font-size: 20pt;
    font-weight: 600;
}
.account{
    font-size: 20pt;
}
.name{
    font-size: 24pt;
    font-weight: 700;
}
.container{
   margin: 25px;
}
.checklist{
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
.design{
    background-color: #AABBBB;
}
.development{
    background-color: #AAAABB;
}
.testing{
    background-color: #BBAABB;
}