body{
    font-family: 'Verdana';
    font-size: 14pt;
    color: #0f0f0f;
    overflow: hidden;
}
h1, h2, h3, h4, .name{
    font-family: 'Century Gothic';
    font-weight: 600;
}
.be-left, .be-right{
    display: inline-flex;
    height: 100%;
    align-items: center;
}
.wrapper{
    height: 93vh;
    overflow-y: scroll;
}
.col-table{
    display: table;
    height: 100%;
}
.be-left{
    
}
.be-right{
    display: inline-flex;
    float: right;
}
.right-item{
    float: right;
}
.logo{
    max-height: 7vh;
    max-width: 7vh;
}
.circle{
    border-radius: 50%;
    height: 6vh;
    width: 6vh;
    background-color: white;
}
.account-picture{
    margin-right: 0;
}
#info-bar{
    background-color: #EEEEEE;
    width: 100%;
    align-items: center;
    overflow: hidden;
    margin-top: 0;
    vertical-align: top;
   
    

}
.contain{
   justify-content: center;
   margin: 0 3vh 2vh 3vh;
}


.item {
    margin: 5px 15px;
    vertical-align: middle;
    display: inline-block;
}
.score{
    color: #09CC09;
    font-size: 20pt;
    font-weight: 600;
}
.checklist-holder{
    padding: 0 20px;
}
.account{
    font-size: 20pt;
}
.name{
    font-size: 24pt;
    font-weight: 700;
}
.container{
   margin: 25px;
}
.container-content{
    padding: 10px;
    
    
}
.checklist{
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.6);*/
    overflow-y: auto;
}
/*
.checklist:hover{
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
}
.checklist:focus{
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    outline: none;
}
*/
.ch-item{
    
}
.expl{
    padding: 0;
    display: inline-block;
}
.icon-holder{
    float: right;
}
.reference{
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    margin-right: 5px;
    border-left: 2px solid;
}
.dev-label{
    display: inline-flex;
    align-items: center;
}
.explanation{
    word-wrap: normal;
    overflow-wrap: break-word;
    padding: 0;
}